@font-face {
    font-family: 'Sofia Pro';
    font-style: normal;
    font-weight: 400;
    src: local('Sofia Pro'), url('https://fonts.cdnfonts.com/s/14903/Sofia Pro Regular Az.woff') format('woff');
}

@font-face {
    font-family: 'Sofia Pro';
    font-style: italic;
    font-weight: 400;
    src: local('Sofia Pro'), url('https://fonts.cdnfonts.com/s/14903/Sofia Pro Regular Italic Az.woff') format('woff');
}

@font-face {
    font-family: 'Sofia Pro';
    font-style: normal;
    font-weight: 250;
    src: local('Sofia Pro'), url('https://fonts.cdnfonts.com/s/14903/Sofia Pro ExtraLight Az.woff') format('woff');
}

@font-face {
    font-family: 'Sofia Pro';
    font-style: normal;
    font-weight: 250;
    src: local('Sofia Pro'), url('https://fonts.cdnfonts.com/s/14903/Sofia Pro UltraLight Az.woff') format('woff');
}

@font-face {
    font-family: 'Sofia Pro';
    font-style: italic;
    font-weight: 250;
    src: local('Sofia Pro'), url('https://fonts.cdnfonts.com/s/14903/Sofia Pro ExtraLight Italic Az.woff') format('woff');
}

@font-face {
    font-family: 'Sofia Pro';
    font-style: italic;
    font-weight: 250;
    src: local('Sofia Pro'), url('https://fonts.cdnfonts.com/s/14903/Sofia Pro UltraLight Italic Az.woff') format('woff');
}

@font-face {
    font-family: 'Sofia Pro';
    font-style: normal;
    font-weight: 300;
    src: local('Sofia Pro'), url('https://fonts.cdnfonts.com/s/14903/Sofia Pro Light Az.woff') format('woff');
}

@font-face {
    font-family: 'Sofia Pro';
    font-style: italic;
    font-weight: 300;
    src: local('Sofia Pro'), url('https://fonts.cdnfonts.com/s/14903/Sofia Pro Light Italic Az.woff') format('woff');
}

@font-face {
    font-family: 'Sofia Pro';
    font-style: normal;
    font-weight: 500;
    src: local('Sofia Pro'), url('https://fonts.cdnfonts.com/s/14903/Sofia Pro Medium Az.woff') format('woff');
}

@font-face {
    font-family: 'Sofia Pro';
    font-style: italic;
    font-weight: 500;
    src: local('Sofia Pro'), url('https://fonts.cdnfonts.com/s/14903/Sofia Pro Medium Italic Az.woff') format('woff');
}

@font-face {
    font-family: 'Sofia Pro';
    font-style: normal;
    font-weight: 600;
    src: local('Sofia Pro'), url('https://fonts.cdnfonts.com/s/14903/Sofia Pro Semi Bold Az.woff') format('woff');
}

@font-face {
    font-family: 'Sofia Pro';
    font-style: italic;
    font-weight: 600;
    src: local('Sofia Pro'), url('https://fonts.cdnfonts.com/s/14903/Sofia Pro Semi Bold Italic Az.woff') format('woff');
}

@font-face {
    font-family: 'Sofia Pro';
    font-style: normal;
    font-weight: 700;
    src: local('Sofia Pro'), url('https://fonts.cdnfonts.com/s/14903/Sofia Pro Bold Az.woff') format('woff');
}

@font-face {
    font-family: 'Sofia Pro';
    font-style: italic;
    font-weight: 700;
    src: local('Sofia Pro'), url('https://fonts.cdnfonts.com/s/14903/Sofia Pro Bold Italic Az.woff') format('woff');
}

@font-face {
    font-family: 'Sofia Pro';
    font-style: normal;
    font-weight: 900;
    src: local('Sofia Pro'), url('https://fonts.cdnfonts.com/s/14903/Sofia Pro Black Az.woff') format('woff');
}

@font-face {
    font-family: 'Sofia Pro';
    font-style: italic;
    font-weight: 900;
    src: local('Sofia Pro'), url('https://fonts.cdnfonts.com/s/14903/Sofia Pro Black Italic Az.woff') format('woff');
}

* {
    font-family: 'Sofia Pro';
}

html,
body {
    overflow-x: hidden;
    width: 100vw;
    height: 100vh;
}

.header {
    width: 100vw;
}

.card, .category-title{
    margin: 0 0 20px;
}

.card.product{
    margin: 0;
}

a,
a:hover {
    color: #000;
    text-decoration: none;
}

.shadow1 {
    box-shadow: 0px 5px 3px -3px rgb(0 0 0 / 0%), 0px 8px 5px 1px rgb(0 0 0 / 0%), 0px 3px 5px 2px rgb(0 0 0 / 5%);
}

.card {
    border-color: #C5C5C5;
}

.card-offer {
    border: 0;
}

.see-more {
    margin: 0 20px 20px;
    cursor: pointer;
}

.header {
    background: rgb(255, 255, 255);
    background: linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 0.8463760504201681) 100%);
}

.header a.navbar-brand {
    margin: 0;
    color: #ec1c24;
}

footer,
.btn-yellow,
.header input, .btn-danger {
    background-color: #ec1c24 !important;
    color: white;
}

.yellow{
    color: #ec1c24;
}

.header input {
    border-radius: 10px;
    width: 30vw;
    border: 0;
}

.btn-icon {
    font-size: 0;
    padding: 0;
    outline: none;
}

.btn-icon span {
    color: #ec1c24;
    font-size: 26px;
}

.header input::placeholder {
    color: #000;
}

.main-banner {
    margin: 50px 0 15px 0;
    width: 100vw;
    height: 480px;
}

.main-banner .swiper-slide {
    padding: 20px;
}

.main-banner .card {
    width: 100%;
    height: 100%;
    margin: 0;
    border: 0;
}

.offer-img {
    width: 100%;
    padding: 10px;
}

.offers .card .row div:nth-child(2) {
    align-self: flex-end;
}

.offers .card .row div:nth-child(2) img {
    padding-bottom: 0;
    margin-bottom: 0;
}

.swiper-slide {
    background-size: cover !important;
    background-position: center !important;
}

.category-item,
.card {
    border-radius: 10px;
    overflow: hidden;
    cursor: pointer;
}

.card.product {
    background-position: center !important;
    background-size: cover !important;
}

.row.categories-web {
    padding: 0 30px;
}

.category-item {
    background-color: #ffffff;
    margin: 30px 0 60px 0;
    height: 40px;
}

.category-item .row {
    padding: 7px 0;
}

.category-item .row div {
    align-self: center;
}

.category-item .row div .card-title {
    margin: 0;
    font-size: 18px;
}

.category-item .category-img {
    margin-left: 20px;
    height: 24px;
}

.offers .category-img {
    width: 100%;
    padding: 10px;
}

.category-item:hover{
    background-color: #ec1c24;
    color: white;
}
.category-item:hover img{
    filter: invert(1);
}
.category-item:hover,
.product:hover {
    transition: 0.2s;
    transform: scale(1.03);
    box-shadow: 0px 5px 5px -3px rgb(0 0 0 / 0%), 0px 8px 10px 1px rgb(0 0 0 / 0%), 0px 3px 14px 2px rgb(0 0 0 / 12%);
}

.category-title .category-img {
    height: 30px;
}

.category-title img, .category-title h2{
    display: inline-flex;
    margin: 0 10px 0 0;
    vertical-align: middle;
}

.card-offer:hover {
    background-color: #fff;
    border-color: transparent;
    transition: 0.2s;
    transform: scale(1.03);
    box-shadow: 0px 5px 5px -3px rgb(0 0 0 / 0%), 0px 8px 10px 1px rgb(0 0 0 / 0%), 0px 3px 14px 2px rgb(0 0 0 / 12%);
    border: 0;
}

.card.product .buy{
    transition: 0.3s;
    position: absolute;
    opacity: 0;
    z-index: 2;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.card.product:hover:before {
    opacity: 1;
}

.card.product:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 100%;
    height: 100%;
    border-radius: 10px;
    background: rgba(0, 0, 0, 0.6);
    z-index: 2;
    transition: 0.5s;
    opacity: 0;
}

.card.product:hover .buy{
    transition: 0.3s;
    opacity: 1;
}

.products {
    width: 100vw;
    margin-bottom: 30px;
    padding: 0 20px;
}

.product-image.card-img-top {
    height: 180px;
    background-color: white !important;
    background-position: center !important;
    background-size: contain !important;
    background-repeat: no-repeat !important;
    text-align: center;
}

.wear-image.card-img-top {
    height: 180px;
    background-color: white !important;
    background-position: center !important;
    background-repeat: no-repeat !important;
    overflow: hidden;
    text-align: end;
}

.wear-image .badge {
    margin-right: 5px;
}

.card-main-img {
    height: 100%;
    width: auto;
}

.buttons {
    text-align: center;
}

.btn-radius {
    border-radius: 6px;
}

footer div>div {
    padding: 10px;
    width: 50%;
    text-align: center;
    align-self: center;
}

footer div>div:nth-child(1), footer div>div:nth-child(2){
    font-size: 12px;
}

footer div>div:nth-child(3){
    font-size: 10px;
}

.follow-icon {
    width: 18px;
    border-radius: 5px;
}

.modal-content {
    border-radius: 10px;
}

.modal-content .modal-body {
    padding: 0;
}

.modal-content .modal-body .card {
    margin: 0;
    cursor: auto;
    border: 0;
}

.modal-content .modal-body .card:hover {
    background-color: #fff;
    transition: 0.2s;
    transform: scale(1);
    box-shadow: none;
}

.modal-content .modal-body .card .product-image.card-img-top,
.modal-content .modal-body .card .wear-image.card-img-top {
    height: 400px;
    background-size: cover !important;
    background-position: center !important;
}

.context-menu-list {
    overflow-x: hidden;
    border-radius: 10px;
    -webkit-box-shadow: none;
    box-shadow: none;
    max-height: 40vh;
}

.context-menu-item {
    transition: 0.3s;
    padding: 0.6em 2em;
}

.context-menu-item.context-menu-hover {
    transition: 0.3s;
    background-color: #ec1c24;
}

::-webkit-scrollbar {
    width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #fff;
}

/* Handle */
::-webkit-scrollbar-thumb {
    border-radius: 100px;
    background: #ec1c24;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #ec1c24;
}

@media (max-width: 978px) {
    .main-banner .card {
        background-position: center !important;
        background-size: cover !important;
        image-rendering: -webkit-optimize-contrast;
    }

    .header input {
        display: none;
    }

    .main-banner {
        height: 240px;
    }

    .row.categories-web {
        margin-bottom: 25px;
    }

    .category-item .row>* {
        width: auto;
    }

    .category-item {
        width: calc(50% - 20px);
        background-color: #ec1c24;
        margin: 10px 10px 20px 10px;
        padding: 10px 20px;
        height: 60px;
        color: white;
    }

    .category-item .category-img {
        margin-left: 0;
    }

    .category-item img {
        filter: invert(1);
    }

    .offers .category-img {
        width: 100%;
        padding: 10px;
    }

    .row.categories-web a:nth-child(4), .row.categories-web a:nth-child(5){
        display: none;
    }

    .offers .card .row div:nth-child(2) {
        text-align: end;
    }

    .col-md-7 {
        width: 58.3333333333%;
    }

    .col-md-5 {
        width: 41.6666666667%;
    }
}